main.index{
    padding-top:50px ;
}

main.index section.page{

}

main.index .container-page .cont-social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-top: 3rem;
}



main.index .container-page .cont-social a{
    width: 45px;
    border-radius: 15%;
    color: white;
    background: #222;
    font-size: 1.5rem;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.index section.page .container-page{
    text-align: center;
    padding-bottom: 2rem;
}

main.index section.page .container-page h2{
    font-size: 2rem;
    font-weight: 500;
    color: #222;
    line-height: 1.5;
    letter-spacing: .06em;
}

main.index section.page .redes nav img{
    width: 30px;
}







main.index section.page .cont-art{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main.index section.page .cont-art .tittle{
    padding-bottom: 2rem;
    padding-top: 2rem;
}

main.index section.page .cont-art .tittle h3{
    font-size: 1.9rem;
    font-weight: 300;
    color: #222;   
    line-height: 1.5; 
    letter-spacing: 2px;
}






main.index section.page .cont-galery .galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main.index section.page .cont-galery .galery .cont-ilustration{
    width: 50%;
    padding: 2px;
}

main.index section.page .cont-art .cont-ilustration-first{
    width: 100%;
}

main.index section.page .cont-galery .galery .cont-ilustration figure {
    width: 100%;
    position: relative;
    float: left;
}

main.index section.page .cont-galery .galery figure a {
    text-decoration: none;
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    float: left;
    overflow: hidden;
}

main.index section.page .cont-galery .galery figure img {
    max-width: none;
    position: absolute;
    left: 0;
    width: 100%;
    text-indent: -9999px;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    height: 100%;
    object-fit: cover;
}

main.index section.page .cont-social a:hover{
    transition: all 0.1s ease-in-out;
}

main.index section.page .cont-social a:first-child:hover{
    background: #3b5998;
}

main.index section.page .cont-social a:nth-child(2n):hover{
    background: #20a6ff;
}

main.index section.page .cont-social a:nth-child(3n):hover{
    background: #c7334e;
}

main.index section.page .cont-social a:nth-child(4n):hover{
    background: #6441a5;
}

main.index section.page .cont-social a:nth-child(5n):hover{
    background: rgb(116, 20, 39);
}



@media(min-width:768px) {
    main.index section.page .cont-galery .galery .cont-ilustration{
        display: flex;
        justify-content: space-between;
    }

    main.index section.page .cont-art .cont-ilustration-first{
        width: 50%;
        padding: 15px;
    }

   
}

