.log{
    max-width: 450px;
    margin: 0 auto;
}

.log h2{
    text-align: center;
    margin-bottom: 2rem;
}

.log form .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.log form button{
    border: none;
    background: #272727;
    padding: 15px 40px;
    color: #fff;
    cursor: p;
}

.log .input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.log .input-container.l{
    width: 100% !important;
}

.log .input-container:nth-child(-n+2){
    width: 48%;
}


.log .input-container label{
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.log .input-container input{
    border: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: medium;
    border-bottom: 2px solid #2d2d2d;
    outline: none;
    padding: 10px 5px;
    font-size: 1.1rem;
}

.log .input-container textarea{
    border: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: medium;
    border-bottom: 2px solid #2d2d2d;
    outline: none;
    padding: 10px 5px;
    font-size: 1.1rem;
    resize: none;
    height: 100px;
}


@media(min-width:768px) {
    .log{
        max-width: 500px;
    }
}
