main.index{
    padding-top:50px ;
}

main.index section.page{

}

main.index section.page .container-page{
    text-align: center;
    padding-bottom: 2rem;
}

main.index section.page .container-page h2{
    font-size: 2rem;
}

main.index section.page .redes nav img{
    width: 30px;

}















main.index section.page .cont-art{
    padding-top: 3rem;
}

main.index section.page .cont-art .tittle{
    padding-bottom: 2rem;
}

main.index section.page .cont-art .tittle h3{
    font-size: 2rem;
}




main.index section.page .cont-galery{

}

main.index section.page .cont-galery .galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main.index section.page .cont-galery .galery .cont-ilustration{
    width: 49%;
    
}

main.index section.page .cont-galery .galery figure{
   
}

main.index section.page .cont-galery .galery figure a{   
}

main.index section.page .cont-galery .galery figure img{
    
}



