<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIUCART</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/27de45d49e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="canvas">

        <header>

            <div class="menu">
                <P>MENU</P>
            </div>

            <div class="navigation-mobile">
                <nav>
                    <ul>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                    </ul>
                </nav>
            </div>

            <div class="logo">
                <h1>
                    <a href="/">PIUCART</a>
                </h1>
                <span>Lorem ipsum dolor sit amet.</span>
            </div>


            <div class="navigation-desktop">
                <nav>
                    <ul>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                    </ul>
                </nav>
            </div>

        </header>


        <div class="about">
            <section class="cont-about">
                <div class="page">
                    <h2>ABOUT</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed obcaecati placeat maxime ipsa, saepe vel expedita eaque perspiciatis necessitatibus facilis.</p>
                </div>
                <figure>
                    <img src="/img/default/default-image.jpg" alt="">
                </figure>
            </section>
        </div>
    </div>
</body>

</html>