<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PIUCART</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/27de45d49e.js" crossorigin="anonymous"></script>
    </head>

<body>
    <div class="canvas">

        <header>

            <div class="menu">
                <P>MENU</P>
                <div class="navigation-mobile">
                    <nav>
                        <ul>
                            <li><a href="">WORK</a></li>
                            <li><a href="/views/about.html">ABOUT</a></li>
                            <li><a href="/views/contact.html">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


            <div class="logo">
                <h1>
                    <a href="/">PIUCART</a>
                </h1>
                <span>the art of Gustavo Piuca.</span>
            </div>


            <div class="navigation-desktop">
                <nav>
                    <ul>
                        <li><a href="">WORK</a></li>
                        <li><a href="/views/about.html">ABOUT</a></li>
                        <li><a href="/views/contact.html">CONTACT</a></li>
                    </ul>
                </nav>
            </div>

        </header>

        <div class="log in">
            <div class="form-container">
                <h2>Contact me</h2>
                <form action="" class="">
                    <div class="form login">
                        <div class="input-container l">
                            <label for="">Email</label>
                            <input type="email" name="" id="">
                        </div>

                        <div class="input-container l">
                            <label for="">Message</label>
                            <textarea name="" id=""></textarea>
                        </div>
                    </div>

                    <button type="submit">SUBMIT</button>
                </form>
            </div>
        </div>

        <footer>
            <div class="container-footer">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitch"></i></a>
                <a href=""><i class="fa-solid fa-envelope"></i></a>
            </div>
        </footer>
        
    </div>
</body>

</html>