<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIUCART</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/27de45d49e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="canvas">



        <header>

            <div class="menu">
                <P>MENU</P>
                <div class="navigation-mobile">
                    <nav>
                        <ul>
                            <li><a href="">WORK</a></li>
                            <li><a href="">ABOUT</a></li>
                            <li><a href="">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


            <div class="logo">
                <h1>
                    <a href="/">PIUCART</a>
                </h1>
                <span>Lorem ipsum dolor sit amet.</span>
            </div>


            <div class="navigation-desktop">
                <nav>
                    <ul>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                        <li><a href="">Lorem, ipsum.</a></li>
                    </ul>
                </nav>
            </div>

        </header>

        <div class="container-one">

            <main class="index">
                <section class="page">

                    <div class="container-page">
                        <div class="contact">
                            <h2><strong>SOCIAL MEDIA & CONTACT</strong></h2>
                        </div>

                        <div class="cont-social">  
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-twitch"></i></a>
                                <a href=""><i class="fa-solid fa-envelope"></i></a>         
                        </div>
                    </div>

                    <div class="redes">
                        <nav>
                            <a href=""><img src="img/redes/discordia.png" alt=""></a>
                            <a href=""><img src="img/redes/twitter.png" alt=""></a>
                            <a href=""><img src="img/redes/instagram.png" alt=""></a>
                            <a href=""><img src="img/redes/twich.png" alt=""></a>
                            <a href=""><img src="img/redes/gmail.png" alt=""></a>
                        </nav>
                    </div>




                    <div class="cont-art">
                        <div class="cont-ilustration-first">
                            <div class="tittle">
                                <h3>SECTION ILUSTRATION 1</h3>
                            </div>

                            <div class="cont-galery">
                                <div class="galery">


                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/default/default-image.jpg" alt=""></a>
                                        </figure>
                                    </div>


                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/default/default-image.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/default/default-image.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/default/default-image.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="cont-ilustration-first">
                            <div class="tittle">
                                <h3>SECTION ILUSTRATION 2</h3>
                            </div>

                            <div class="cont-galery">
                                <div class="galery">


                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/default/default-image.jpg" alt=""></a>
                                        </figure>
                                    </div>


                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/default/default-image.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/default/default-image.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/default/default-image.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </main>



        </div>

        <footer>
            <div class="container-footer">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitch"></i></a>
                <a href=""><i class="fa-solid fa-envelope"></i></a>
            </div>
        </footer>

    </div>

</body>

</html>