<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')  %>

<body>
    <div class="canvas">

        <%- include('./partials/header.ejs')  %>

        <div class="container-one">

            <main class="index">
                <section class="page">

                    <div class="container-page">
                        <div class="contact">
                            <h2>SOCIAL MEDIA & CONTACT</h2>
                        </div>

                        <div class="cont-social">  
                                <a href="https://www.facebook.com/piucart" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://twitter.com/rem_lordg" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                <a href="https://www.instagram.com/piucart/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.twitch.tv/piucart" target="_blank"><i class="fa-brands fa-twitch"></i></a>
                                <a href=""><i class="fa-solid fa-envelope"></i></a>         
                        </div>
                    </div>

                    
                    <div class="cont-art">
                        <div class="cont-ilustration-first">
                            <div class="tittle">
                                <h3>SECTION ILUSTRATION 1</h3>
                            </div>

                            <div class="cont-galery">
                                <div class="galery">


                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/arte/leon.jpg" alt=""></a>
                                        </figure>
                                    </div>


                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/arte/ciervo.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/arte/vela.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/arte/girl.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="cont-ilustration-first">
                            <div class="tittle">
                                <h3>SECTION ILUSTRATION 2</h3>
                            </div>

                            <div class="cont-galery">
                                <div class="galery">


                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/arte/nieve.jpg" alt=""></a>
                                        </figure>
                                    </div>


                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/arte/practica.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/arte/raven.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="cont-ilustration">
                                        <figure>
                                            <a href=""><img src="/img/arte/tree.jpg" alt=""></a>
                                        </figure>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </main>

        </div>

        <%- include('./partials/footer.ejs')  %>

    </div>

</body>

</html>