<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')  %>

<body>
    <div class="canvas">

        <%- include('./partials/header.ejs')  %>

        <div class="log in">
            <div class="form-container">
                <h2>Login</h2>
                <form action="" class="">
                    <div class="form login">
                        <div class="input-container l">
                            <label for="">Email</label>
                            <input type="email" name="" id="">
                        </div>

                        <div class="input-container l">
                            <label for="">Password</label>
                            <input type="pass" name="" id="" placeholder="">
                        </div>
                    </div>

                    <button type="submit">SIGN IN</button>
                </form>
            </div>
        </div>

        <%- include('./partials/footer.ejs')  %>
        
    </div>
</body>

</html>