<footer>
    <div class="container-footer">
        <a href="https://www.facebook.com/piucart" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://twitter.com/rem_lordg" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/piucart/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.twitch.tv/piucart" target="_blank"><i class="fa-brands fa-twitch"></i></a>
        <a href=""><i class="fa-solid fa-envelope"></i></a>         
    </div>
</footer>