<header>

    <div class="menu">
        <div class="navigation-mobile">
            <nav>
                <ul>
                    <li><a href="/">WORK</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        <P id="menu">MENU</P>
    </div>

    <div class="logo">
        <h1>
            <a href="/">PIUCART</a>
        </h1>
    </div>


    <div class="navigation-desktop">
        <nav>
            <ul>
                <li><a href="/">WORK</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>

</header>